@model EmprestimosModel
@{
    ViewData["Title"] = "Editar empréstimo";
}

<div class="container bg-white p-5 rounded-5">

    <div class="mb-5 text-center">
        <h1>Edição de Empréstimo</h1>
    </div>

    <form method="post" asp-asp-controller="Emprestimo" asp-action="Editar">
        <input type="hidden" asp-for="Id"/>

        <div class="mb-3">
            <label for="Recebedor" class="form-label" style="font-size: 18px;">Recebedor</label>
            <input type="text" asp-for="Recebedor" class="form-control" id="Recebedor">
            <span asp-validation-for="Recebedor"></span>
        </div>

        <div class="mb-3">
            <label for="Fornecedor" class="form-label" style="font-size: 18px;">Fornecedor</label>
            <input type="text" asp-for="Fornecedor" class="form-control" id="Fornecedor">
            <span asp-validation-for="Fornecedor"></span>
        </div>

        <div class="mb-3">
            <label for="Livro" class="form-label" style="font-size: 18px;">Livro</label>
            <input type="text" asp-for="LivroEmprestado" class="form-control" id="Livro">
            <span asp-validation-for="LivroEmprestado"></span>
        </div>

        <div class="d-flex gap-5 mt-5">
            <button type="submit" class="btn btn-success w-50">Editar</button>
            <a class="btn btn-primary w-50" asp-controller="Emprestimo" asp-action="Index">Voltar</a>
        </div>
    </form>
</div>